/* main rules and reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --side-color: #3c75f0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-VariableFont.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d4d4d4;
}

/* main rules and rest end */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

aside {
  background-color: var(--side-color);
  color: white;
  padding: 18px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}


ul {
  margin: 50px 0;
  padding: 0 8px;
  list-style: none;
}

ul li {
  margin: 15px 0;
}

ul li a {
  display: inline-flex;
  gap: 14px;
  text-decoration: none;
  color: white;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
}


nav {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 5px 0px 5px black;
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 1fr;
}

nav>* {
  /* border: 1px solid black */
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.search form {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search form button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search form input {
  border: none;
  border-radius: 10px;
  background-color: #d4d4d4;
  width: 80%;
  padding: 4px;
  margin: 0 4px;
}

.notifications {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search h2 {
  font-size: .9em;
}

.icon {
  border: none;
  border-radius: 50%;
  background-color: yellow;
  padding: 2px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 70px;
}

.user .name {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.name .image {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: yellow;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name .text {
  font-weight: bold;
}

.text .first {
  font-size: .7em;
}

.user .links {
  list-style: none;
  display: flex;
}

.user .links li a {
  text-decoration: none;
  background-color: var(--side-color);
  display: block;
  width: 80px;
  text-align: center;
  padding: 8px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  font-weight: normal;
  font-size: .8em;
  text-transform: capitalize;
}