/* main rules and reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --side-color: #3c75f0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-VariableFont.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d4d4d4;
}

/* main rules and rest end */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

aside {
  background-color: var(--side-color);
  color: white;
  padding: 18px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}


ul {
  margin: 50px 0;
  padding: 0 8px;
  list-style: none;
}

ul li {
  margin: 15px 0;
}

ul li a {
  display: inline-flex;
  gap: 14px;
  text-decoration: none;
  color: white;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
}