/* main rules and reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --side-color: #3c75f0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-VariableFont.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #cfe0f1;
}

/* main rules and rest end */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

aside {
  background-color: var(--side-color);
  color: white;
  padding: 18px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}


ul {
  margin: 50px 0;
  padding: 0 8px;
  list-style: none;
}

ul li {
  margin: 15px 0;
}

ul li a {
  display: inline-flex;
  gap: 14px;
  text-decoration: none;
  color: white;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
}


nav {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 5px 0px 5px black;
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 1fr;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.search form {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search form button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search form input {
  border: none;
  border-radius: 10px;
  background-color: #cfe0f1;
  width: 80%;
  padding: 4px;
  margin: 0 4px;
}

.notifications {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search h2 {
  font-size: .9em;
}

.icon {
  border: none;
  border-radius: 50%;
  background-color: yellow;
  padding: 2px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 70px;
}

.user .name {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.name .image {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: yellow;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name .text {
  font-weight: bold;
}

.text .first {
  font-size: .7em;
}

.user .links {
  list-style: none;
  display: flex;
}

.user .links li a {
  text-decoration: none;
  background-color: var(--side-color);
  display: block;
  width: 80px;
  text-align: center;
  padding: 8px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  font-weight: normal;
  font-size: .8em;
  text-transform: capitalize;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  padding: 18px;
}

.content-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  margin-top: 14px;
}

.box {
  background-color: white;
  border-left: 8px solid #e7ce42;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  padding: 18px;
}

.box p {
  color: #868484;
}

.box ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.box ul li a {
  display: inline-block;
  margin-left: 14px;
}

.box h4 {
  text-transform: capitalize;
}

.box p {
  font-size: .9em;
}

.right-side {
  padding: 18px;
}


.info {
  background-color: white;
  padding: 18px 22px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px black;
}

.info div {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid gray;
}

.info div:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.info div h4 {
  text-transform: capitalize;
}

.info div p {
  font-size: .7em;
  color: #868484;
  padding: 4px 0;
}

.trending {
  background-color: white;
  box-shadow: 1px 1px 2px black;
  border: none;
  border-radius: 10px;
  padding: 18px;
}

.trending div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 4px;
  padding: 8px 0;
}

.trending div img {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;

}

.trending div p {
  font-size: .8em;
  color: #868484;
}

.trending p span {
  color: black;
}